.container
    H1.page-message Get in touch.

    section.content.content--bleed.content--light-green.content--skewed-left
        section#contact
            H1
                span.mdi.mdi-github-circle 
                |  theknightsky
            H1
                span.mdi.mdi-gmail 
                |  skyler.knight22@gmail.com
            form#contact-form
                input(type="text" placeholder="Name" required)
                input(type="text" placeholder="Email" required)
                textarea(name="message" placeholder="Message" required)
                button(type="submit").mdi.mdi-send
