doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Skyler Knight 2015
    
    link(rel="stylesheet", href="assets/final.css")

body(ng-app="app" ng-controller="mainCtrl" ng-class="{'intro--hidden': $root.hideIntro}")
    section#intro
        .container
            .logo.logo--big
                a(ui-sref="intro")
                    img(src="assets/images/logo-red.png", alt="Skyler Knight")
                #logo-name SKYLER KNIGHT
            .hero-message
                H1 I'm Skyler Knight. One of the hardest workers you'll ever meet. Let's create greatness together.
        nav#nav
            .container
                .logo.logo--small
                    a(ui-sref="intro")
                        img(ui-sref="intro" src="assets/images/logo-blue-grey.png", alt="Skyler Knight")
                ul
                    li
                        a(ui-sref="contact") Contact
                    li
                        a(ui-sref="portfolio.gallery") Portfolio
                    li
                        a(ui-sref="resume") Resume

    main#wrapper(ui-view)

    script(src="assets/final.js")
