.container-full
    H1.page-message Some works of mine.
    section.content.content--cyan.content--skewed-right
        #portfolio
            #image-gallery
                .thumb-nail(ng-repeat="item in portfolioItems")
                    img(ng-src="{{'assets/images/' + item.thumbnail}}")
                    .shade
                        .project-title.break
                                a(ui-sref="portfolio.item({id: \item.id})") {{item.title}}
                            a(class="hover hover--{{item.accentColor}}" ui-sref="portfolio.item({id: \item.id})")