.container
    H1.page-message Skills and such.

    section.content.content--bleed.content--indigo.content--skewed-left
        H1
            span # 
            | Intro

        p 
            | My name is Skyler Knight.
            | I grew up in Utah where nature rules and imagination thrives.
            | I love learning new things and I'm 
            i always 
            | learning something.
            | Helping others is what i'm all about. Kindness and patience toward others are some of my key values.
        
    section.content.content--bleed.content--black
        H1 
            span.accent.accent--pink #
            | My skillset

        section#skills
            .skill-list
                H4 Code
                ul
                    li.lst-color.lst-color--red
                        span HTML/HTML5
                    li.lst-color.lst-color--amber
                        span CSS/CSS3
                    li.lst-color.lst-color--blue
                        span Javascript
                    li.lst-color.lst-color--green 
                        span Basic PHP
            .skill-list
                H4 Tools
                ul
                    li.lst-color.lst-color--purple
                        span SASS/Compass
                    li.lst-color.lst-color--pink
                        span Jade (Markup)
                    li.lst-color.lst-color--brown
                        span Susy 2 (Grid)
                    li.lst-color.lst-color--deep-orange
                        span LESS
                    li.lst-color.lst-color--cyan
                        span JUICE
            .skill-list
                H4 Libs
                ul
                    li.lst-color.lst-color--cyan
                        span $Jquery
                    li.lst-color.lst-color--red
                        span Angular JS
                    li.lst-color.lst-color--amber
                        span Backbone
                    li.lst-color.lst-color--blue
                        span Require JS
                    li.lst-color.lst-color--deep-orange
                        span Handlebars
            .skill-list
                H4 Frameworks
                ul
                    li.lst-color.lst-color--green 
                        span Bootstrap
                    li.lst-color.lst-color--purple
                        span Lumx
                    li.lst-color.lst-color--pink 
                        span Angular Material
                    li.lst-color.lst-color--brown 
                        span Laravel (PHP)
            .skill-list
                H4 Software
                ul
                    li.lst-color.lst-color--pink 
                        span Adobe Suite
                    li.lst-color.lst-color--amber
                        span Sublime Text
                    li.lst-color.lst-color--green 
                        span Git & Github            
            .skill-list
                H4 Languages
                ul
                    li.lst-color.lst-color--cyan 
                        span English (Native)
                    li.lst-color.lst-color--red
                        span Korean (Advanced)
                    li.lst-color.lst-color--purple 
                        span Japanese (Novice)

    section.content.content--bleed.content--grey.content--skewed-right

        section#experience

            H1
                span.accent.accent--indigo #
                | Professional experience

            H2 SkimaTalk 
                span.accent.accent--indigo.mdi.mdi-food-apple  English Tutor
            p 
                | I've been working as an online English tutor through SkimaTalk for almost 1 year now. I consult with students about how to learn foreign languages and I do my very best to provide patient, kind, and useful lessons for language learners to develop their skills.

            H2 Learnkey 
                span.accent.accent--indigo.mdi.mdi-palette  Graphic Designer
            p 
                | I worked for Learnkey as a graphic designer for about 2 years. 
                | My main responsibilities included designing content courses, building video graphics, and creating interactive labs for users.
                | I had a great team to collaborate with and create interesting ideas.

            H2 SUU  
                span.accent.accent--indigo.mdi.mdi-laptop-mac  Computer Lab Assistant
            p 
                | I worked as a computer lab assistant providing support to those in need
                | with a large variety of computer & software issues on multiple operating systems.
                | I was in charge of both Mac OSX and Windows 7 labs and I also
                | created the record for keeping track of our users.

    section.content.content--bleed.content--black.content--skewed-left

        section#Education

            H1
                span.accent.accent--pink #
                |  Education

            H2.half SUU
                span.accent.accent--pink Computer Science, English
            H2.half.last 경희대 (Kyunghee Univ.)
                span.accent.accent--pink Korean
            //- p.break.accent.accent--grey
            //-     | * I haven't graduated from any university with a degree, but I have studied at the ones above for a year or longer.
            H2.half PHS
                span.accent.accent--pink.mdi.mdi-script  High School Diploma





