
<div class="container">
  <H1 class="page-message">Get in touch.</H1>
  <section class="content content--bleed content--light-green content--skewed-left">
    <section id="contact">
      <H1><span class="mdi mdi-github-circle"> </span> theknightsky</H1>
      <H1><span class="mdi mdi-gmail"> </span> skyler.knight22@gmail.com</H1>
      <form id="contact-form">
        <input type="text" placeholder="Name" required="required"/>
        <input type="text" placeholder="Email" required="required"/>
        <textarea name="message" placeholder="Message" required="required"></textarea>
        <button type="submit" class="mdi mdi-send"></button>
      </form>
    </section>
  </section>
</div>