
<div class="container">
  <H1 class="page-message">Skills and such.</H1>
  <section class="content content--bleed content--indigo content--skewed-left">
    <H1><span># </span>Intro</H1>
    <p>
       
      My name is Skyler Knight.
      I grew up in Utah where nature rules and imagination thrives.
      I love learning new things and I'm <i>always </i>learning something.
      Helping others is what i'm all about. Kindness and patience toward others are some of my key values.
    </p>
  </section>
  <section class="content content--bleed content--black">
    <H1> <span class="accent accent--pink">#</span>My skillset</H1>
    <section id="skills">
      <div class="skill-list">
        <H4>Code</H4>
        <ul>
          <li class="lst-color lst-color--red"><span>HTML/HTML5</span></li>
          <li class="lst-color lst-color--amber"><span>CSS/CSS3</span></li>
          <li class="lst-color lst-color--blue"><span>Javascript</span></li>
          <li class="lst-color lst-color--green"> <span>Basic PHP</span></li>
        </ul>
      </div>
      <div class="skill-list">
        <H4>Tools</H4>
        <ul>
          <li class="lst-color lst-color--purple"><span>SASS/Compass</span></li>
          <li class="lst-color lst-color--pink"><span>Jade (Markup)</span></li>
          <li class="lst-color lst-color--brown"><span>Susy 2 (Grid)</span></li>
          <li class="lst-color lst-color--deep-orange"><span>LESS</span></li>
          <li class="lst-color lst-color--cyan"><span>JUICE</span></li>
        </ul>
      </div>
      <div class="skill-list">
        <H4>Libs</H4>
        <ul>
          <li class="lst-color lst-color--cyan"><span>$Jquery</span></li>
          <li class="lst-color lst-color--red"><span>Angular JS</span></li>
          <li class="lst-color lst-color--amber"><span>Backbone</span></li>
          <li class="lst-color lst-color--blue"><span>Require JS</span></li>
          <li class="lst-color lst-color--deep-orange"><span>Handlebars</span></li>
        </ul>
      </div>
      <div class="skill-list">
        <H4>Frameworks</H4>
        <ul>
          <li class="lst-color lst-color--green"> <span>Bootstrap</span></li>
          <li class="lst-color lst-color--purple"><span>Lumx</span></li>
          <li class="lst-color lst-color--pink"> <span>Angular Material</span></li>
          <li class="lst-color lst-color--brown"> <span>Laravel (PHP)</span></li>
        </ul>
      </div>
      <div class="skill-list">
        <H4>Software</H4>
        <ul>
          <li class="lst-color lst-color--pink"> <span>Adobe Suite</span></li>
          <li class="lst-color lst-color--amber"><span>Sublime Text</span></li>
          <li class="lst-color lst-color--green"> <span>Git & Github            </span></li>
        </ul>
      </div>
      <div class="skill-list">
        <H4>Languages</H4>
        <ul>
          <li class="lst-color lst-color--cyan"> <span>English (Native)</span></li>
          <li class="lst-color lst-color--red"><span>Korean (Advanced)</span></li>
          <li class="lst-color lst-color--purple"> <span>Japanese (Novice)</span></li>
        </ul>
      </div>
    </section>
  </section>
  <section class="content content--bleed content--grey content--skewed-right">
    <section id="experience">
      <H1><span class="accent accent--indigo">#</span>Professional experience</H1>
      <H2>SkimaTalk <span class="accent accent--indigo mdi mdi-food-apple"> English Tutor</span></H2>
      <p>
         
        I've been working as an online English tutor through SkimaTalk for almost 1 year now. I consult with students about how to learn foreign languages and I do my very best to provide patient, kind, and useful lessons for language learners to develop their skills.
      </p>
      <H2>Learnkey <span class="accent accent--indigo mdi mdi-palette"> Graphic Designer</span></H2>
      <p>
         
        I worked for Learnkey as a graphic designer for about 2 years. 
        My main responsibilities included designing content courses, building video graphics, and creating interactive labs for users.
        I had a great team to collaborate with and create interesting ideas.
      </p>
      <H2>SUU  <span class="accent accent--indigo mdi mdi-laptop-mac"> Computer Lab Assistant</span></H2>
      <p>
         
        I worked as a computer lab assistant providing support to those in need
        with a large variety of computer & software issues on multiple operating systems.
        I was in charge of both Mac OSX and Windows 7 labs and I also
        created the record for keeping track of our users.
      </p>
    </section>
  </section>
  <section class="content content--bleed content--black content--skewed-left">
    <section id="Education">
      <H1><span class="accent accent--pink">#</span> Education</H1>
      <H2 class="half">SUU<span class="accent accent--pink">Computer Science, English</span></H2>
      <H2 class="half last">경희대 (Kyunghee Univ.)<span class="accent accent--pink">Korean</span></H2>
      <H2 class="half">PHS<span class="accent accent--pink mdi mdi-script"> High School Diploma</span></H2>
    </section>
  </section>
</div>